<div id="social">
    <a href="https://www.linkedin.com/in/mattwebbio/" target="_blank">
        <img src="https://img.shields.io/badge/-LinkedIn-1178B3.svg{{ $.Site.Params.sbadges }}LinkedIn" />
    </a>
    <a href="https://twitter.com/mattwebbio" target="_blank">
        <img src="https://img.shields.io/badge/-Twitter-2AA3EF.svg{{ $.Site.Params.sbadges }}twitter" />
    </a>
    <a href="https://github.com/mattwebbio" target="_blank">
        <img src="https://img.shields.io/badge/-GitHub-lightgrey.svg{{ $.Site.Params.sbadges }}github" />
    </a>
    <!-- <a href="https://www.facebook.com/mattwebbio/" target="_blank">
        <img src="https://img.shields.io/badge/--efefef.svg{{ $.Site.Params.smallsbadges }}Facebook" />
    </a>
    <a href="https://www.instagram.com/mattwebbio/" target="_blank">
        <img src="https://img.shields.io/badge/--efefef.svg{{ $.Site.Params.smallsbadges }}Instagram" />
    </a> -->
</div>