{{ partial "parts/header.html" . }}
<div id="hero">
    <canvas id="starfield"></canvas>
    <script src="js/stars.js"></script>
    <div id="hero-content">
        <h1>Matt Webb</h1>
        <h5>Software Engineer</h5>
        <div>
            <a href="https://drive.google.com/open?id=1ri0nuorPDENqVjivBofkWVmShTMrhhvH" target="_blank">
                <img src="https://img.shields.io/badge/-Resume-60D425.svg{{ $.Site.Params.sbadges }}" />
            </a>
            <a href="https://blog.mattwebb.io" target="_blank">
                <img src="https://img.shields.io/badge/-Blog-FFC02E.svg{{ $.Site.Params.sbadges }}" />
            </a>
        </div>
        {{ partial "parts/social.html" . }}
    </div>
</div>
{{ partial "parts/footer.html" . }}